//-  https://i.pinimg.com/564x/74/92/79/7492798c9ee102c3845f06e0a40a92a0.jpg 
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Profile
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css', integrity='sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==', crossorigin='anonymous', referrerpolicy='no-referrer')
section.section
  .container
    .columns.is-vcentered
      .column
        h1.content.is-medium.has-text-grey.pb-0.mb-1 Welcome in Profile
        h1.title.is-2
          | I am 
          span.has-text-primary #{username}
      .column
        img(src='https://images.unsplash.com/photo-1609010697446-11f2155278f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBob3RvfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')